In [99]:
import pandas as pd
import numpy as np

In [102]:
# Read industry data.
# Civilian employed pop 16+ employed in construction & industry.
data = pd.read_csv('C:\\Users\\benjo\\OneDrive\\Desktop\\SVM PROJECT\\Data\\ACS Raw\\ACS1Y2016_industry.csv')

data.head(5)

,Label (Grouping),INDUSTRY!!Civilian employed population 16 years and over!!Construction,INDUSTRY!!Civilian employed population 16 years and over!!Manufacturing
0,Alabama,NaN,NaN
1,Estimate,"154,225","318,435"
2,Margin of Error,"±6,733","±10,241"
3,Percent,6.8%,14.0%
4,Percent Margin of Error,±0.3,±0.5

In [103]:
# Rename columns.
data.rename({'INDUSTRY!!Civilian employed population 16 years and over!!Construction': 'Construction',
             'INDUSTRY!!Civilian employed population 16 years and over!!Manufacturing': 'Manufacturing'}, axis=1, inplace=True)


# Fix label column.
data['Label (Grouping)'] = data['Label (Grouping)'].str.split().str.join('')


# Mask to drop certain rows.
drop_mask1 = data['Label (Grouping)'].isin(['Estimate', 'MarginofError', 'PercentMarginofError'])
data = data[~drop_mask1]


# Shift percent estimates to corresponding states.
data['Construction'] = data['Construction'].shift(-1)
data['Manufacturing'] = data['Manufacturing'].shift(-1)


# Drop former percent estimate rows.
drop_mask2 = data['Label (Grouping)'] == 'Percent'
data = data[~drop_mask2].reset_index(drop=True)


# Convert rows to floats.
data['Construction'] = data['Construction'].str.rstrip('%').astype(float) / 100
data['Manufacturing'] = data['Manufacturing'].str.rstrip('%').astype(float) / 100

# Merge construction and manufacturing columns into single col.
data['Manuf_Constr'] = data['Construction'] + data['Manufacturing']
data.drop(['Construction', 'Manufacturing'], axis=1, inplace=True)

data.head(5)

  Label (Grouping)  Manuf_Constr
0          Alabama         0.208
1           Alaska         0.117
2          Arizona         0.152
3         Arkansas         0.204
4       California         0.154